<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
    <div class="container">
        <a class="contact" href="/contactlist" name="contact">Contact List</a>
        <a class="group" href="/profile" name="group">Profile</a>
    </div>
<% include ../partials/footer.ejs %>
</body>
</html>