<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>
    <div class="container">
        <a class="contact" href="/contactlist" name="contact">Contact List</a>
        <a class="group" href="/group" name="group">Groups</a>
        <a class="connect" href="/connection" name="connection">Connections</a>
        <a class="profile" href="/profile" name="profile">Profile</a>
    </div>
<% include ../partials/footer.ejs %>
</body>
</html>