<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
    <% include ../partials/nav.ejs %>
    <div class="container-fluid">
        <input type="hidden" name="user_room" id="uroom" value="<%= user.room %>">
        <ul id="messages"></ul>
        <form action="" id="sendmsg">
            <input id="m" autocomplete="off" /><button>Send</button>
        </form>
    </div>
    <% include ../partials/footer.ejs %>
    <script type="text/javascript" src="/public/javascript/ajax.js"></script>
</body>
</html>